node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git

.DS_Store
Dockerfile
.dockerignore
.gcloudignore
cloudbuild.yaml
*.log
*.txt
!robots.txt
crash.log
error.log
login_debug.log
server_log.txt
